<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text">Company Bio</h5>
        <p class="grey-text">
        Copperhead is an information security firm located in Toronto, Canada.
        Specializing in protecting data and devices from unauthorized access. We
        respond to incidents such as hacking, conduct malware forensics, and harden systems.
      </div>
      <div class="col l3 s12 footer-nav-items">
        <h5 class="grey-text">Navigation</h5>
        <ul>
          {% include layout/nav_items.html %}
        </ul>
      </div>
      <div class="col l3 s12 footer-company-links">
        <h5 class="grey-text">Connect</h5>
        <ul>
          <li><a href="https://twitter.com/CopperheadSec">Twitter</a></li>
          <li><a href="https://github.com/copperhead">Github</a></li>
          <li><a href="/contact">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text">
      Made by <a class="grey-text text-darken-3" href="/">Copperhead Security</a>
    </div>
  </div>
</footer>
