<form class="col s12" name="androidCTA" id="androidCTA" action="contact_sent.html">
  <div class="row">
    <div class="input-field col s12">
      <i class="mdi-action-account-circle prefix"></i>
      <input id="icon_prefix" class="validate" name='name' type="email">
      <label for="icon_prefix">Name</label>
    </div>
    <div class="input-field col s12">
      <i class="mdi-communication-email prefix"></i>
      <input id="icon_email" class="validate" name='email' type="email">
      <label for="icon_email">Email</label>
    </div>
  </div>
  <input type='hidden' name='distinct_id'>
  <a href="#" class="btn-large waves-effect waves-light light-blue submit-form">
    Notify me
  </a>
</form>
