<section class='call-to-action'>
    <main>
        <div class='cta-alert'></div>
        <h3>
            Join our mailing list
        </h3>
        <p>
            Copperhead sends out email blasts to announce major company
            updates, recent CopperheadOS developments, and occassionally
            highlight important security-related news.
        </p>
        <div id="mc_embed_signup">
            <form action="//copperhead.us13.list-manage.com/subscribe/post?u=fb6433dd5ac8c32c2536b56c5&amp;id=550a69d86e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fb6433dd5ac8c32c2536b56c5_550a69d86e" tabindex="-1" value=""></div>
                        <input type="submit" value="Join Mailing List" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                    <div class="mc-field-group input-group">
                        <ul style="display: inline-block; max-width: 386px; width: 100%; margin-top: 0">
                            <li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" checked><label style="width: 100%" for="mce-EMAILTYPE-0">html</label></li>
                            <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label style="width: 100%" for="mce-EMAILTYPE-1">text</label></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <p class='email-capture-note'>
            Note: We only send 1-2 emails per month max. All email addresses
            are kept private.
        </p>
    </main>
</section>
