---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include layout/meta.html %}

    <title>
      {% if page.title %}
        {{ page.title }} | Blog | Copperhead Security
      {% else %}
        Blog | Copperhead Security
      {% endif %}
    </title>

    <!-- RSS -->
    <link href="https://copperhead.co/feed.xml" rel="alternate" type="application/rss+xml" title="Blog | Copperhead Security" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cRoboto:400,500,600,700" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <script data-main="{{ 'all.js?7' | asset_path }}"
            src="{{ 'vendor/require.js' | asset_path }}" defer></script>
  </head>
  <body id="page-top" class='blog blog-layout' data-spy="scroll" data-target=".navbar-fixed-top">
    {% include layout/nav.html %}
    {{ content }}
    {% include layout/footer.html %}
    <link href="{{ 'blog.css?2' | asset_path }}" rel="stylesheet">
  </body>
</html>

