<!-- About Section -->
<section id="about" class="content-section">
  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>About</h1>

          <p>Copperhead Security specializes in protecting systems and devices from
          unauthorized access by helping companies secure their technical
          infrastucture.</p>

          <p>Our team also provides certified forensics experts and investigative
          services to corporations and law firms. We respond to incidents
          involving data theft or hacking, including malware detection and
          mitigation. We also help lawyers make sense of complex legal cases
          involving digital forensics.</p>

          <p>We sell hardened smartphones to organizations who need to keep their
          communications safe, using a secure version of Android that we are
          building, entirely <a href="https://github.com/copperhead">open-source</a>.</p>

          <p>Located in Toronto, Canada.</p>
        </div>
      </div>
    </div>
  </div>
</section>
