<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 contact-section">
            <div class='contact-blurb'>
                <h3>Get in touch</h3>

                <p>
                    Feel free to email us with any questions or just to say
                    hello at
                    <a href='mailto:team@copperhead.co'>team@copperhead.co</a>
                    or use the contact form below.
                </p>
                <p>
                    For media / press inquiries please contact: <a href='mailto:media@copperhead.co'>media@copperhead.co</a>
                </p>

                <div class='pgp'>
                    <div class='pgp-fingerprint'>
                        <i>PGP Fingerprint:</i>
	                68B9 BA21 4CDA 6FC5 CF73  3B08 2621 AB13 DC1D EA5E
                    </div>
                    <div class='pgp-pubkey'>
                        Public key available on
                        <a href='https://pgp.mit.edu/pks/lookup?op=get&search=0x2621AB13DC1DEA5E'>
                            https://pgp.mit.edu/
                        </a>
                        (DC1DEA5E)
                    </div>

                </div>
            </div>

            {% include forms/contact_form.html %}
        </div>
    </div>
</section>

<!-- Map Section -->
<div id="map"></div>
