name: Copperhead Security
title: Copperhead Security
email: team@copperhead.co
description: A security collective that builds software, helps organizations navigate information security and keep operations safe from threats.
baseurl: ""
url: "https://copperhead.co"

markdown: kramdown
highlighter: pygments
timezone: America/New_York
permalink: /blog/:year/:month/:day/:title

gems:
  - jekyll-timeago

# Begin plugin-specific configuration

jekyll_timeago:
  depth: 1 # Level of detail
  today: 'today'
  yesterday: 'yesterday'
  tomorrow: 'tomorrow'
  and: '&'
  suffix: 'ago'
  prefix: ''
  suffix_future: ''
  prefix_future: 'in'
  years: 'years'
  year: 'year'
  months: 'months'
  month: 'month'
  weeks: 'weeks'
  week: 'week'
  days: 'days'
  day: 'day'
